<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>
<div class="content">
  <form>
    <p>Title</p>
    <div class="flexLeft">
      <input type="radio" name="gender" value="mr" id="mr" />
      <label for="mr"> Mr</label>
      <input type="radio" name="gender" value="mrs" id="mrs" />
      <label for="mrs"> Mrs</label>
      <input type="radio" name="gender" value="miss" id="miss" />
      <label for="miss"> Miss</label>
    </div>
    <div class="flexCenter">
      Firstname:<input type="text" name="firstname" id="fName" />
    </div>
    <div class="flexCenter">
      Lastname:<input type="text" name="lastname" id="lname" />
    </div>
    <div class="flexCenter">
      Email:<input type="text" name="email" id="mail" />
    </div>
    <div class="flexCenter">
      Phone number:<input type="text" name="Phonenumber" id="phone" />
    </div>
    <div class="flexCenter">
      Password:<input type="text" name="pass" id="pass" />
    </div>
    <div class="flexCenter">
      Country:
      <select name="country" id="country">
        <option value="country1">Việt Nam</option>
        <option value="country2">Singapore</option>
        <option value="country3">America</option>
      </select>
    </div>
    <input type="checkbox" name="agree" value="Y" id="agree" />
    <label for="agree"> I agree to the terms and conditions</label>
    <div class="flexLeft">
      <button type="button">Sign up</button>
      <button type="button">Reset form</button>
    </div>
  </form>
</div>

</body>
</html>
